main {
    margin-top: 100px;
}

#uploadform {
    flex-basis: 100px;
    flex-grow: 1;
}

pre {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem;

    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;
}

#site-footer a {
    color: black;
    text-decoration: none;
}

#site-footer a:hover {
    text-decoration: underline;
}
